/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.container {
  width: 90%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.inner-container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.underline {
  position: relative;
  width: fit-content;
  padding: 0 0.25em;
}

.underline:before {
  content: "";
  z-index: -1;
  position: absolute;
  background-color: var(--secondary-color);
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  transition: max-width 500ms, background-color 500ms, color 500ms;
}

.container {
  width: 90%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

body {
  margin: 0;
  background-color: var(--background-color);
  background-repeat: no-repeat;
  background-position: left top;
  color: var(--text-color);
  font-family: "Inter", sans-serif;
}

body.no-scroll {
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--shade-500);
  text-decoration: none;
}

.link-btn {
  display: inline-block;
  border: 2px solid var(--grey-color);
  background-color: transparent;
  border-radius: 2em;
  padding: 1em 2em;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 0.2em;
  transition: border 500ms, background-color 500ms, color 500ms;
}

.link-btn:hover,
.link-btn:focus {
  outline: none;
  color: var(--background-color);
  background-color: var(--shade-500);
  border-color: var(--shade-500);
}

button {
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 0.9rem;
  color: var(--shade-500);
  cursor: pointer;
}

button:hover,
button:focus {
  color: var(--text-color);
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: var(--background-color);
  transition: top 500ms;
}

nav.js-nav {
  opacity: 0;
}

.js-nav.visible {
  z-index: 50;
  animation: fade-in 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.js-nav.visible.scroll-up {
  top: 0;
}

.js-nav.visible.scroll-down {
  top: -20%;
}

.js-nav.hidden {
  animation: fade-out 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  margin: -1em 0;
  flex: 1 0 auto;
  justify-content: flex-end;
  align-items: center;
}

.nav-links .link {
  position: relative;
  margin: 1em;
  color: var(--text-color);
  font-size: 0.85rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.nav-links .link:before {
  content: "";
  z-index: -1;
  position: absolute;
  background-color: var(--secondary-color);
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  max-width: 0;
  transition: max-width 500ms;
}

.nav-links .link:hover,
.nav-links .link:focus {
  outline: none;
}

.nav-links .link:hover:before,
.nav-links .link:focus:before,
.nav-links .link.active:before {
  max-width: 10rem;
}

.js-nav .nav-controls {
  padding-left: 1rem;
  display: flex;
  align-items: center;
}

.js-nav .nav-controls .hamburger {
  width: 1.5rem;
  margin: 0 1.5rem;
  height: 0.75rem;
  position: relative;
}

.js-nav .nav-controls .hamburger:before,
.js-nav .nav-controls .hamburger:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: var(--shade-500);
  left: 0;
  margin: auto;
  transition: transform 500ms;
}

.nav-controls .hamburger:before {
  top: 0;
}

.nav-controls .hamburger:after {
  bottom: 0;
}

.nav-controls .hamburger.active:before {
  bottom: 0;
  transform: rotate(45deg);
}

.nav-controls .hamburger.active:after {
  top: 0;
  transform: rotate(-45deg);
}

.nav-controls .control {
  display: none;
  font-size: 1rem;
  padding: 0;
}

.js-nav .nav-controls .control {
  display: inline-block;
}

.nav-controls .control:hover,
.nav-controls .control:focus {
  outline: none;
  animation: rotate-center 2s ease-in-out both infinite;
}

.nav-logo {
  position: relative;
  line-height: 1;
  font-size: 1.1rem;
}

.logo {
  text-align: center;
  font-size: 1.25rem;
  color: var(--shade-500);
  letter-spacing: 1px;
  text-transform: uppercase;
}

.theme-container {
  position: absolute;
  padding: 2rem;
  right: 0;
  top: 4.5rem;
  margin-right: 1em;
  display: flex;
  flex-direction: column;
  background-color: var(--shade-100);
  opacity: 0;
  box-shadow: 0px 0 10px 1px rgb(0 0 0 / 20%);
  border-radius: 0.25em;
  visibility: hidden;
}

.theme-container.visible {
  visibility: visible;
  animation: fade-in-top 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.theme-container .theme-select {
  text-align: left;
  padding: 0;
}

.theme-container .theme-select + .theme-select {
  margin-top: 1em;
}

.theme-select .theme-label {
  font-size: 0.85rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0 0.25em;
  margin-bottom: 0.5em;
  display: inline-block;
  position: relative;
}

.theme-select .theme-label:before {
  content: "";
  z-index: -1;
  position: absolute;
  background-color: var(--secondary-color);
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  max-width: 0;
  transition: max-width 500ms;
}

.theme-select.active .theme-label:before {
  max-width: 5rem;
}

.theme-select .theme {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: var(--grey-color);
  border-radius: 0.25em;
  transition: filter 500ms;
}

.theme-select:focus {
  outline: none;
}

.theme-select:hover .theme,
.theme-select:focus .theme {
  filter: brightness(1.1);
}

.theme-select .theme .color {
  height: 1rem;
  width: 1rem;
  margin: 0 0.125em;
  border-radius: 0.2rem;
  flex: 1 0 1rem;
}

.wave-border {
  height: 150px;
  overflow: hidden;
}

.scroll-in.js-opacity {
  opacity: 0;
}

.scroll-in.scrolled {
  animation: fade-in-bottom 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.scroll-in.unscrolled {
  animation: fade-out-top 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: var(--shade-100);
}

footer .support.container {
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 1rem;
}

footer .support p {
  margin: 0 0 0.5rem;
  max-width: 45ch;
  font-size: 0.9rem;
  color: var(--shade-500);
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

footer .social-media {
  display: flex;
  margin-left: -0.5rem;
}

footer .social-media a {
  margin: 0.5rem;
  font-size: 1.1rem;
}

footer .copyright {
  font-size: 0.9rem;
  color: var(--shade-500);
}

.copyright .heart {
  color: var(--shade-300);
}

@media screen and (min-width: 721px) {
  .hamburger,
  .nav-links .social-media {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  .logo {
    font-size: 1rem;
  }

  .js-nav .nav-links {
    position: absolute;
    padding: 2rem;
    right: 0;
    top: 4.5rem;
    left: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0px 0 10px 1px rgb(0 0 0 / 20%);
    border-radius: 0.25em;
    opacity: 0;
    visibility: hidden;
  }

  .js-nav .nav-links.visible {
    z-index: 50;
    background-color: var(--background-color);
    visibility: visible;
    animation: fade-in-top 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }

  .js-nav .nav-links .social-media {
    display: flex;
    margin: 1rem -0.5rem;
  }

  .js-nav .nav-links .social-media a {
    margin: 0 1rem;
    font-size: 1.1rem;
  }

  footer .support.container {
    margin-bottom: 2rem;
  }
}

@media (prefers-reduced-motion) {
  .scroll-in.js-opacity {
    opacity: 1;
    animation: none !important;
  }
}


header {
  text-align: center;
  position: relative;
  height: 100vh;
}

header.js-fixed {
  height: 110vh;
}

.header-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  align-items: start;
}

header h1 {
  font-size: 4rem;
  margin: 0;
}

header h1 p {
  position: relative;
  font: inherit;
  margin: 0;
  width: fit-content;
  font-weight: 800;
  text-align: left;
  line-height: 130%;
  letter-spacing: -0.03em;
}

header h2 {
  max-width: 65ch;
  font-weight: 200;
  color: var(--shade-500);
  margin: 0;
}

header .fixed-header {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

header.js-fixed .fixed-header {
  position: fixed;
}

header.js-fixed .fixed-header.scrolled {
  position: absolute;
  top: auto;
  bottom: 0;
}

header .fixed-header:before {
  content: "";
  z-index: -1;
  position: absolute;
  background-color: var(--shade-100);
  width: 100%;
  height: 50%;
  margin: auto;
  bottom: 0;
  left: 0;
}

header .header-text {
  position: relative;
}

.scroll-button {
  position: absolute;
  bottom: 0;
  padding: 2rem 0;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  transition: opacity 250ms;
}

.fixed-header.scrolled .scroll-button {
  opacity: 0;
}

.scroll-button .arrow {
  margin-right: 0.25rem;
}

.scroll-button:hover .arrow,
.scroll-button:focus .arrow {
  animation: bounce-top 1.5s ease-in-out infinite both;
}

section .container {
  padding: 2rem 0;
}

section:last-of-type .container {
  padding-bottom: 0;
}

.section-link {
  text-align: center;
  margin-top: 5rem;
}

.section-title {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--shade-500);
}

.section-subtitle {
  font-size: 1.5rem;
  color: var(--grey-text);
  max-width: 60ch;
}

.title-icon {
  display: inline-block;
}

.scrolled .title-icon {
  animation: bounce-top 1s ease-in-out both;
}

.intro a:not([class]) {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: var(--grey-color);
}

.project-container {
  margin: 3rem 0;
}

.project {
  display: flex;
  margin: 3rem 0;
}

.project:nth-of-type(even) {
  flex-direction: row-reverse;
}

.project.scrolled {
  animation: fade-in 1s linear both;
}

.project.scrolled .project-content {
  animation: fade-in-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.project-image img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: top;
  opacity: 0.8;
  filter: brightness(45%) grayscale(1);
  transition: filter 1000ms;
  cursor: pointer;
}

.project:hover .project-image img,
.project.active .project-image img,
.project:focus-within .project-image img {
  filter: brightness(100%) grayscale(0);
}

.project-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-content p {
  font-size: 1.25rem;
  color: var(--grey-text);
  margin: 0.5rem 0;
  line-height: 135%;
}

.project-title {
  margin-top: 0;
  margin-bottom: 1rem;
  color: var(--shade-500);
  font-size: 1.5rem;
  text-transform: uppercase;
}

.project-title a {
  color: inherit;
  text-decoration: none;
}

.project-tags {
  display: flex;
  padding: 1rem;
  margin: 0;
}

.project-tags .tag {
  margin-right: 2rem;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

.project-links {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  margin: 0 -1rem;
}

.project-links a {
  color: var(--grey-text);
  margin: 1rem;
  border-radius: 0;
}

.talks-container {
  margin: 1.5rem -1.5rem -1.5rem;
  display: flex;
  flex-wrap: wrap;
}

.talk-card {
  flex: 1 0 auto;
  margin: 1.5rem;
}

.talk-card iframe {
  width: 100%;
  min-height: 300px;
  background-color: var(--grey-color);
}

.articles-container,
.cards-container {
  display: flex;
  margin: 1.5rem -1.5rem -1.5rem;
  flex-wrap: wrap;
}

.article,
.card {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
  transition: box-shadow 500ms;
}

.article.scrolled:nth-of-type(2) {
  animation-delay: 50ms;
}

.article.scrolled:nth-of-type(3) {
  animation-delay: 100ms;
}

.article:hover,
.article:focus-within,
.card:hover,
.card:focus-within {
  box-shadow: 0px 0 10px 1px rgb(0 0 0 / 20%);
}

.article-image img,
.card-image img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
  opacity: 0.8;
  filter: contrast(75%) grayscale(1);
  transition: filter 1000ms, opacity 500ms;
}

.article:hover .article-image img,
.article:focus-within .article-image img,
.card:hover .card-image img,
.card:focus-within .card-image img {
  opacity: 1;
  filter: contrast(100%) grayscale(0);
}

.article-content {
  background-color: var(--background-color);
  padding: 2rem;
  height: 100%;
}

.card-content {
  background-color: var(--shade-100);
  padding: 0rem 1rem;
  height: 100%;
}

.card-content .card-title {
  margin-bottom: 0;
}

.article-site a,
.card-site a {
  text-transform: uppercase;
  color: var(--grey-text);
  font-size: 0.9rem;
  transition: color 500ms;
}

.article-site a:hover {
  color: var(--text-color);
}

.contact-content {
  display: flex;
  flex-wrap: wrap;
}

.contact-content .link-btn {
  border-radius: 0;
  margin: 1.5rem 0;
  display: block;
  width: fit-content;
}

.links-container {
  flex: 0 1 300px;
}

.links-container h3 {
  margin: 1.5rem 0 0.5rem;
  text-transform: uppercase;
  color: var(--shade-500);
}

.links-container li {
  margin-bottom: 1rem;
}

.links-container a:hover,
.links-container a:focus {
  text-decoration: underline;
}

.form-container {
  flex: 1 0 auto;
  max-width: 600px;
  width: 100%;
  margin-right: 3rem;
}

.input-container {
  position: relative;
  margin: 1.5rem 0;
}

.input-container .form-input {
  width: 100%;
  box-sizing: border-box;
  background: transparent;
  caret-color: var(--shade-300);
  border: 1px solid var(--grey-color);
  color: var(--text-color);
  transition: border 500ms;
  padding: 1.75rem 1rem 0.5rem;
  font-size: 1.15rem;
}

.input-container textarea {
  height: 300px;
  resize: none;
  font: inherit;
}

.input-container label {
  display: block;
  position: absolute;
  width: 100%;
  font-size: 1.15rem;
  top: 15px;
  padding: 0.25rem 1rem;
  color: var(--grey-text);
  transform-origin: left;
  user-select: none;
  transition: all 500ms;
}

.input-container .form-input:hover,
.input-container .form-input:focus {
  outline: none;
  border-color: var(--shade-300);
}

.form-input:focus + label,
.focused label {
  top: 0rem;
  font-size: 0.75rem;
  background-color: var(--shade-500);
  color: var(--background-color);
  user-select: auto;
}

footer {
  padding-top: 0;
}

@media screen and (max-width: 960px) {
  header .fixed-header:before {
    height: 51%;
  }
  header h1 {
    font-size: 3rem;
  }
  header h2 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 721px) {
  .project-container {
    margin: 0 -5rem;
  }

  .project {
    justify-content: space-between;
    margin: 0 5rem;
    padding: 5rem 0;
    border-bottom: 1px dashed var(--shade-300);
  }

  .project.scrolled .project-image {
    animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  .project:nth-of-type(even).scrolled .project-image {
    animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  .project-image,
  .project-content-container {
    width: 50%;
  }

  .project:nth-of-type(odd) .project-content-container {
    margin-left: 3rem;
  }

  .project:nth-of-type(even) .project-content-container {
    margin-right: 3rem;
  }

  .project-content p {
    color: var(--text-color);
  }
}

@media screen and (max-width: 720px) {
  header h1 {
    font-size: 2.5rem;
  }

  header h2 {
    font-size: 1.25rem;
  }

  .project,
  .project:nth-of-type(even) {
    flex-direction: column;
  }

  .project-content-container {
    background-color: var(--background-color);
    padding: 2rem;
  }

  .project-links a {
    margin: 1rem auto;
  }
}

@media (prefers-reduced-motion) {
  .project.scrolled,
  .project.scrolled:nth-of-type(odd) .project-image,
  .project.scrolled:nth-of-type(even) .project-image {
    animation: none;
  }
}






@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&display=swap");

:root,
:root.light {
  --background-color: #fafafa;
  --text-color: #000;
  --shade-100: #efefef;
  --shade-300: #8a8a8a;
  --shade-500: #3d3d3d;
  --secondary-color: #ccd0be;
  --grey-color: #c2bfbc;
  --grey-text: #595959;
}

:root.dark {
  --background-color: #0d1926;
  --text-color: #f7fafc;
  --shade-100: #1a324c;
  --shade-300: #4383cb;
  --shade-500: #8cb0d9;
  --secondary-color: #a67a59;
  --grey-color: #303f50;
  --grey-text: #cfd8e2;
}

:root.brown {
  --background-color: #eeeae2;
  --text-color: #120c07;
  --shade-100: #c7a991;
  --shade-300: #6f482a;
  --shade-500: #4a301c;
  --secondary-color: #8cb0d9;
  --grey-color: #c2bfbc;
  --grey-text: #5e5955;
}

:root.pink {
  --background-color: #fcf7f9;
  --text-color: #260d17;
  --shade-100: #ffcce1;
  --shade-300: #bf4075;
  --shade-500: #732646;
  --secondary-color: #a8d1c8;
  --grey-color: #d1c7cd;
  --grey-text: #62505b;
}

:root.green {
  --background-color: #f2f5f4;
  --text-color: #1b3817;
  --shade-100: #bae5b3;
  --shade-300: #024541;
  --shade-500: #012d32;
  --secondary-color: #e5b3b9;
  --grey-color: #c8d1c7;
  --grey-text: #536250;
}

:root.neon {
  --background-color: #101b37;
  --text-color: #fff;
  --shade-100: #101b37;
  --shade-300: #4b4bfb;
  --shade-500: hsl(190, 99%, 47%);
  --secondary-color: #e41376;
  --grey-color: hsl(190, 99%, 30%);
  --grey-text: #fff;
  --neon-color: #e41376;
}

.neon-path {
  display: none;
}

.neon body {
  font-family: "Orbitron", sans-serif;
}

.neon body::before,
.neon body::after {
  content: "";
  position: fixed;
  top: 0;
  width: 10px;
  z-index: 99;
  background-color: var(--neon-color);
  height: 100vh;
  box-shadow: 0 0 15px 0 var(--neon-color);
}

@media screen and (max-width: 720px) {
  .neon body::before,
  .neon body::after {
    width: 5px;
  }

  .neon .project-content-container {
    border: 1px solid var(--shade-300);
  }
}

.neon body::before {
  left: 0;
}

.neon body::after {
  right: 0;
}

.neon h1,
.neon .section-title {
  text-shadow: 2px 1px var(--neon-color);
}

.neon .arrow {
  color: var(--neon-color);
}

.neon .link-btn {
  border-color: var(--neon-color);
  color: var(--shade-500);
}

.neon .nav-links a {
  text-shadow: 1px 1px var(--neon-color);
}

.neon ::marker {
  color: var(--secondary-color);
}

.neon a {
  text-decoration-color: var(--neon-color) !important;
}

.neon img:not(.img-404) {
  box-shadow: 10px 10px 0 0 var(--neon-color);
}

.neon .neon-path {
  display: block;
}

.neon .wave-border path:not(.neon-path) {
  display: none;
}

.neon input[value="all"]:checked ~ .post-tags label[data-post="all"],
.neon
  input[value="javascript"]:checked
  ~ .post-tags
  label[data-post="javascript"],
.neon
  input[value="portfolio"]:checked
  ~ .post-tags
  label[data-post="portfolio"],
.neon
  input[value="conferences"]:checked
  ~ .post-tags
  label[data-post="conferences"] {
  border-color: var(--neon-color);
  color: var(--shade-500);
}

.neon .input-container.focused .form-input {
  border-color: var(--neon-color);
}

.neon .focused label {
  border: 1px solid var(--neon-color);
  border-bottom-color: transparent;
}

.neon .article-content,
.neon .card-content {
  border: 1px solid var(--shade-300);
}

#light-select .color.text {
  background-color: #000;
}
#light-select .color.shade-100 {
  background-color: #efefef;
}
#light-select .color.shade-300 {
  background-color: #8a8a8a;
}
#light-select .color.shade-500 {
  background-color: #3d3d3d;
}
#light-select .color.background {
  background-color: #fff;
}

#dark-select .color.text {
  background-color: #f7fafc;
}
#dark-select .color.shade-100 {
  background-color: #1a324c;
}
#dark-select .color.shade-300 {
  background-color: #4383cb;
}
#dark-select .color.shade-500 {
  background-color: #8cb0d9;
}
#dark-select .color.background {
  background-color: #0d1926;
}

#brown-select .color.text {
  background-color: #120c07;
}
#brown-select .color.shade-100 {
  background-color: #c7a991;
}
#brown-select .color.shade-300 {
  background-color: #6f482a;
}
#brown-select .color.shade-500 {
  background-color: #4a301c;
}
#brown-select .color.background {
  background-color: #eeeae2;
}

#pink-select .color.text {
  background-color: #260d17;
}
#pink-select .color.shade-100 {
  background-color: #ffcce1;
}
#pink-select .color.shade-300 {
  background-color: #bf4075;
}
#pink-select .color.shade-500 {
  background-color: #732646;
}
#pink-select .color.background {
  background-color: #fcf7f9;
}

#green-select .color.text {
  background-color: #1b3817;
}
#green-select .color.shade-100 {
  background-color: #bae5b3;
}
#green-select .color.shade-300 {
  background-color: #024541;
}
#green-select .color.shade-500 {
  background-color: #012d32;
}
#green-select .color.background {
  background-color: #f2f5f4;
}

#neon-select .color.text {
  background-color: #fff;
}
#neon-select .color.shade-100 {
  background-color: #101b37;
}
#neon-select .color.shade-300 {
  background-color: #4b4bfb;
}
#neon-select .color.shade-500 {
  background-color: #01c8ee;
}
#neon-select .color.background {
  background-color: #e41376;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #0d1926;
    --text-color: #f7fafc;
    --shade-100: #1a324c;
    --shade-300: #264a73;
    --shade-500: #8cb0d9;
    --secondary-color: #2a556f40;
    --grey-color: #afbecf;
    --grey-text: #cfd8e2;
  }
}



header .animate-background:before {
  animation: slide-in-bottom 1s ease-in-out both;
}

header .animate-logo {
  animation: tracking-in-expand 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

header .animate-text-1 {
  animation: fade-in-bottom 0.5s ease-in-out both;
}

header .animate-text-2 {
  animation: fade-in-bottom 0.5s ease-in-out 50ms both;
}

header .animate-subtitle {
  animation: fade-in-bottom 0.5s ease-in-out 100ms both;
}

header .animate-scroll {
  animation: fade-in-bottom 0.5s ease-in-out 150ms both;
}

@media (prefers-reduced-motion) {
  header .animate-background:before,
  header .animate-logo,
  header .animate-text-1,
  header .animate-text-2,
  header .animate-subtitle,
  header .animate-scroll {
    opacity: 1;
    animation: none;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2021-2-11 23:32:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes fade-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
}
@keyframes fade-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
}

@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10vh);
    transform: translateY(-10vh);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10vh);
    transform: translateY(10vh);
  }
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}





html {
  scroll-behavior: smooth;
}

#about.container {
  max-width: 960px;
}

.intro-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.intro-image {
  flex: 1 1 200px;
}

.intro-image img {
  width: 100%;
  background-color: var(--grey-color);
}

.intro {
  margin-left: 3rem;
  flex: 1 1 60%;
}


.intro .large-text {
  margin-top: 0;
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--shade-500);
}

.intro .bold-text {
  font-size: 1.5rem;
  color: var(--grey-text);
}

.main-text p {
  font-size: 1.25rem;
}

summary .subsection-title {
  display: inline;
  cursor: pointer;
}

details {
  margin: 1rem 0;
}

details .main-text {
  margin: 1rem 1rem 3rem;
}

details .text {
  padding: 2rem 0;
  border-bottom: 1px dashed var(--shade-300);
}

details .list .text {
  padding-bottom: 1rem;
}

details .text:first-of-type {
  padding-top: 0;
}

.text-header {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0;
}

#experience .text-header a,
#volunteering .text-header a {
  color: var(--shade-300);
  text-decoration: none;
}

.text p.text-subtitle {
  margin: 0.5rem 0;
  font-size: 0.9rem;
}

.text li {
  max-width: 65ch;
  font-size: 1.15rem;
  color: var(--grey-text);
  margin: 0;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  margin: 0;
}

.tags li {
  font-size: 1rem;
  margin: 0.25rem 2rem 0.25rem 0;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

@media screen and (max-width: 720px) {
  .intro-container {
    flex-direction: column-reverse;
  }

  .intro {
    margin-left: 0;
    margin-bottom: 1rem;
  }
}

.container {
  width: 90%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.inner-container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.underline {
  position: relative;
  width: fit-content;
  padding: 0 0.25em;
}

.underline:before {
  content: "";
  z-index: -1;
  position: absolute;
  background-color: var(--secondary-color);
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  transition: max-width 500ms, background-color 500ms, color 500ms;
}


main {
  margin-top: 4rem;
  animation: fade-in-bottom 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.section-title {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--shade-500);
}

section a:not([class]) {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: var(--grey-color);
}

.section-link {
  text-align: center;
  margin-top: 3rem;
}

section p {
  color: var(--grey-text);
  font-size: 1.25rem;
  line-height: 140%;
}

.subsection-title {
  text-transform: uppercase;
  color: var(--shade-500);
  font-size: 1.17em;
}

.page-nav {
  padding: 3rem 0 0rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.padding-top-0 {
  padding-top: 0 !important;
}